<div class="jumbotron">
  <div class="container">
    <h1>Product: <%= @product.name %></h1>
    <h3>$ <%= @product.cost %>.99</h3>
    <h3>Country of Origin: <%= @product.country_of_origin %></h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">

      <% if @reviews.any? %>
        <h4>Click on Author name to view their product review:</h4>

        <% @reviews.each do |review| %>
          <ul>
            <li>
              <p><%= link_to review.author, product_review_path(@product, review) %> - <%= review.rating %> ☆'s</p>
            </li>
          </ul>
        <% end %>
        
      <% else %>
        <p>No reviews have been are posted for this product.</p>
      <% end %>
    </div>
    <div class="col-lg-6">
    <%= will_paginate @reviews,renderer: BootstrapPagination::Rails %>
    <p><%= link_to "Add a review", new_product_review_path(@product), class: "btn btn-default" %></p>
    <% if is_admin? %>
      <p><%= link_to "Edit", edit_product_path(@product), class: "btn btn-default" %></p>
      <p><%= link_to "Delete", product_path(@product),
                              :data => {:confirm => "You sure?",
                                        :method => "delete"}, class: "btn btn-default" %></p>
    <% end %>
    <p><%= link_to "Return to products", products_path, class: "btn btn-default" %></p>
    <p><%= link_to "Return to homepage", home_path, class: "btn btn-default" %></p>  
    </div>
  </div>
</div>




