<div class="jumbotron">
  <div class="container">
    <h1>Product: <%= @product.name %></h1>
    <h2>Rating: <%= @review.rating %> ☆'s</h2>
    <h3>By: <%= @review.author %></h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
    <h2>Review: <%= @review.content_body %></h2> 
    </div>
    <br>
    <div class="col-lg-6">
    <% if is_admin? %>
      <p><%= link_to "Edit review", edit_product_review_path(@product, @review), class: "btn btn-default" %></p>
      <p><%= link_to "Delete review", product_review_path(@product, @review),
                                    :data => {:confirm => "Are you sure?",
                                                  :method => "delete"}, class: "btn btn-default" %></p>
    <% end %>
    <p><%= link_to "Return to product", product_path(@product), class: "btn btn-default" %></p>
    <p><%= link_to "Return to homepage", home_path, class: "btn btn-default" %></p>
    </div>
  </div>
</div>


