<!DOCTYPE html>
<html>
  <head>
    <title>RailsMarioFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if current_user %>   
      <%= current_user.email %>   <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "btn btn-default" %> 
    <% else %>   
      <p>You are not signed in.</p>   
      <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-default" %>  
      <br />  
      <%= link_to "Login", new_user_session_path, class: "btn btn-default" %> 
  <% end %>
  <% if is_admin? %>
    <%= link_to "Administration", rails_admin_path, class: "btn btn-default" %>
  <% end %>
  
  <%= flash[:alert] %>
  <%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
